---
import { Image } from "astro:assets";
import BurgerIcon from "../ui/icons/BurgerIcon.astro";
import logo from "public/logo.png";
import PlusIcon from "../ui/icons/PlusIcon.astro";

const navLinks = [
  { label: "Inicio", href: "/" },
  { label: "Proyectos", href: "/proyectos" },
  { label: "Contacto", href: "/contacto" },
];
---

<header>
  <div
    class="max-w-desktop mx-auto flex items-center justify-between px-3.5 py-6"
  >
    <a href="/"
      ><Image
        src={logo}
        alt="logo de ibrasanusi"
        class="w-[100px]"
        widths={[480, 760, 1200]}
      /></a
    >

    <nav class="hidden md:flex md:flex-row md:gap-[26px]">
      {
        navLinks.map(({ label, href }) => (
          <a
            href={href}
            class="flex h-6 flex-col overflow-y-hidden font-semibold *:transform *:transition-transform *:duration-500 hover:*:-translate-y-6"
          >
            <span>{label}</span>
            <span class="text-brand">{label}</span>
          </a>
        ))
      }
    </nav>

    <div class="hidden md:block">
      <a
        class="bg-brand w-full max-w-3xs place-self-center rounded-lg px-6 py-4 font-bold text-white hover:bg-blue-700 lg:max-w-[210px] lg:place-self-start"
        href="/contacto">Contactar</a
      >
    </div>

    <div class="flex items-stretch gap-2 md:hidden">
      <div>
        <a
          class="bg-brand w-full max-w-3xs place-self-center rounded-lg px-6 py-4 font-bold text-white hover:bg-blue-700 lg:max-w-[210px] lg:place-self-start"
          href="/contacto">Contactar</a
        >
      </div>
      <button class="bg-secondary menu-button rounded-lg p-2">
        <BurgerIcon class="size-10" />
      </button>
    </div>
  </div>
</header>

<div
  id="floating_cta"
  class="fixed -top-16 right-2 z-40 flex flex-row items-center gap-2 transition-transform lg:right-8"
>
  <a
    class="bg-brand w-full max-w-3xs place-self-center rounded-lg px-6 py-4 font-bold text-white hover:bg-blue-700 lg:max-w-[210px] lg:place-self-start"
    href="/contacto">Contactar</a
  >
  <button class="bg-ternary menu-button rounded-lg p-2">
    <BurgerIcon class="size-10" />
  </button>
</div>

<div
  id="menu"
  class="bg-brand fixed top-0 z-50 h-screen w-screen -translate-y-full transform transition-transform duration-500"
>
  <nav
    class="mx-auto grid h-full w-full max-w-2xl place-content-center gap-8 *:text-3xl *:text-white"
  >
    {
      navLinks.map(({ label, href }) => (
        <a
          href={href}
          class="flex h-9 flex-col overflow-y-hidden font-semibold *:transform *:transition-transform *:duration-500 hover:*:-translate-y-9"
        >
          <span>{label}</span>
          <span>{label}</span>
        </a>
      ))
    }
  </nav>

  <button id="close-menu-button" class="absolute top-4 right-8">
    <PlusIcon class="size-18 rotate-45 text-white" />
  </button>
</div>

<style>
  @keyframes drop-cta {
    to {
      transform: translateY(90px);
    }
  }

  div#menu.open {
    transform: translateY(100%);
  }

  #floating_cta {
    animation-name: drop-cta;
    animation-fill-mode: both;

    animation-timeline: scroll();
    animation-range: 100px 300px;
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const menuButtons = document.querySelectorAll(".menu-button");
    const closeMenuButton = document.querySelector("#close-menu-button");
    const menu = document.querySelector("#menu");
    const body = document.querySelector("body");

    if (!menu || !menuButtons.length || !closeMenuButton) return;

    // Abrir menú
    menuButtons.forEach((button) => {
      button.addEventListener("click", () => {
        menu.classList.add("open");
        body?.classList.add("scroll-y-none");
      });
    });

    // Cerrar menú
    closeMenuButton.addEventListener("click", () => {
      menu.classList.remove("open");
      body?.classList.remove("scroll-y-none");
    });
  });
</script>
