---
import Button from "../ui/Button.astro";
import H2Typography from "../ui/H2Typography.astro";
import CheckIcon from "../ui/icons/CheckIcon.astro";

const prices = [
  {
    title: "Por proyecto",
    description:
      "Ideal para clientes que buscan una landing o sitio web completo sin pagos mensuales.",
    price: {
      amount: 250,
      per: "proyecto",
    },
    checks: [
      "Entrega llave en mano",
      "Diseño y desarrollo incluidos",
      "Hasta 2 revisiones",
      "Soporte post-lanzamiento (7 días)",
    ],
  },
  {
    title: "Por hora",
    description:
      "Perfecto para tareas específicas, correcciones o soporte técnico puntual.",
    price: {
      amount: 25,
      per: "hora",
    },
    checks: [
      "Flexibilidad total",
      "Ideal para mantenimiento o mejoras",
      "Reporte de horas trabajado",
    ],
  },
  {
    title: "Mantenimiento mensual",
    description:
      "Para empresas o proyectos que necesitan mejoras y actualizaciones constantes.",
    price: {
      amount: 80,
      per: "mes",
    },
    checks: [
      "Actualizaciones y seguridad",
      "Optimización continua",
      "Prioridad en soporte",
      "Hasta 4 cambios al mes",
    ],
  },
];
---

<div class="space-y-6">
  <H2Typography>Precios</H2Typography>
  <section class="gap-4 grid grid-cols-1 md:grid-cols-2">
    {
      prices.map((item) => (
        <article class="rounded-2xl space-y-4 p-10 border-8 border-brand-fifth-light">
          <div class="space-y-1">
            <h4>{item.title}</h4>
            <p class="text-gray-second text-sm">{item.description}</p>
          </div>

          <div class="flex flex-col">
            <span class="text-gray-second text-xs">Desde</span>
            <span class="text-3xl">
              {item.price.amount}€<span class="text-lg">/{item.price.per}</span>
            </span>
          </div>

          <Button class="rounded-2xl py-4 px-10 w-full bg-brand text-black self-center">
            Hablemos de tu proyecto
          </Button>

          <ul>
            {item.checks.map((check) => (
              <li class="text-white flex flex-row items-center gap-2">
                <CheckIcon />
                <span>{check}</span>
              </li>
            ))}
          </ul>
        </article>
      ))
    }
  </section>
</div>
