---
import H2Typography from "../ui/H2Typography.astro";
import CheckIcon from "../ui/icons/CheckIcon.astro";
import Link from "../ui/Link.astro";

const prices = [
  {
    title: "Diseño web",
    description:
      "Ideal para clientes que buscan hacer una página web desde cero.",
    price: {
      amount: 500,
      per: "proyecto",
    },
    checks: [
      "4 secciones responsive",
      "Contrato el hosting y dominio",
      "Integrado Google Analytics",
      "Integrado con Search Console",
      "Optimizado para el SEO",
      "Formulario de Contacto",
    ],
  },
  {
    title: "Mantenimiento mensual",
    description:
      "Para empresas o proyectos que necesitan mejoras y actualizaciones constantes.",
    price: {
      amount: 120,
      per: "mes",
    },
    checks: [
      "Desarrollo de componentes UI",
      "Integración con APIs",
      "Componentes dinámicos con React.js",
      "Animaciones profesionales con CSS",
      "Maquetación de nuevos módulos con HTML",
    ],
  },
];
---

<div id="pricing" class="space-y-6 scroll-mt-24">
  <H2Typography>Precios</H2Typography>
  <section class="gap-4 grid grid-cols-1 md:grid-cols-2">
    {
      prices.map((item) => (
        <article class="rounded-2xl space-y-4 p-10 border-8 border-brand-fifth-light">
          <div class="space-y-1">
            <h3>{item.title}</h3>
            <p class="text-gray-second text-sm">{item.description}</p>
          </div>

          <div class="flex flex-col">
            <span class="text-gray-second text-xs">Desde</span>
            <span class="text-3xl">
              {item.price.amount}€<span class="text-lg">/{item.price.per}</span>
            </span>
          </div>

          <div class="flex">
            <Link href="/servicios" class="w-full text-center">
              Más información
            </Link>
          </div>

          <ul>
            {item.checks.map((check) => (
              <li class="text-white flex flex-row items-center gap-2">
                <CheckIcon />
                <span>{check}</span>
              </li>
            ))}
          </ul>
        </article>
      ))
    }
  </section>
</div>
