---
import Badge from "../ui/Badge.astro";
import Separator from "../ui/Separator.astro";
import H2Typography from "../ui/H2Typography.astro";
import { Image } from "astro:assets";
import plazoriamall from "public/projects/plazoriamall.avif";
import examioHome from "public/projects/examio-home.avif";
import recomiendapp from "public/projects/recomiendapp.avif";

const projects = [
  {
    imgUrl: plazoriamall,
    alt: "Imagen del proyecto de Plazoria Mall",
    title: "Plazoriamall",
    description: "Tienda online.",
    badgeTitle: "Cliente",
    href: "https://www.plazoriamall.com/",
  },
  {
    imgUrl: examioHome,
    alt: "Imagen del proyecto examio",
    title: "Examio",
    description: "Desarrollo con React.js y OpenAi API.",
    badgeTitle: "Personal",
    href: "https://examio-ten.vercel.app/",
  },
  {
    imgUrl: recomiendapp,
    alt: "Imagen proyecto de photoscore de Recomiend.app",
    title: "Photo Score",
    description: "Mejora de foto de perfil con IA.",
    badgeTitle: "Cliente",
    href: "https://recomiend.app/analizador-foto-perfil-ia",
  },
];
---

<div id="projects" class="space-y-6 scroll-mt-24">
  <div class="flex flex-row gap-6 items-center">
    <H2Typography>Proyectos</H2Typography>
    <Separator />

    {
      projects.length > 3 && (
        <a class="text-brand" href="/proyectos">
          {" "}
          Ver todos{" "}
        </a>
      )
    }
  </div>

  <section class="md:grid flex flex-row overflow-x-scroll md:grid-cols-2 gap-4">
    {
      projects.map((project) => (
        <a
          target="_blank"
          href={project.href}
          class="flex flex-col gap-4 grow flex-1"
        >
          <Image
            title={project.title}
            fetchpriority="high"
            widths={[480, 760, 1200]}
            sizes="(max-width: 768px) 100vw, 760px"
            class="rounded-2xl hover:opacity-70 transition-opacity duration-700 grow"
            src={project.imgUrl}
            alt={project.alt}
            loading="lazy"
            format="avif"
          />

          <div class="flex flex-row gap-8">
            <div class="flex-1 gap-2">
              <span class="text-xl">{project.title}</span>
              <p class="text-gray-second text-md w-full max-w-[250px] shrink line-clamp-1">
                {project.description}
              </p>
            </div>
            <Badge title={project.badgeTitle} />
          </div>
        </a>
      ))
    }
  </section>
</div>
