---
import H2Typography from "../ui/H2Typography.astro";
import ArrowRight from "../ui/icons/ArrowRight.astro";
import Separator from "../ui/Separator.astro";

const experiences = [
  {
    title: "Desarrollador fullstack - Fullcircle S.L",
    startDate: "Jul 01, 2025",
    finishDate: "actualidad",
    href: "https://fullcircle.es/",
  },
  {
    title: "Desarrollador front-end - Recomiend.app S.L",
    startDate: "Mayo",
    finishDate: "Julio, 2024",
    href: "https://recomiend.app/",
  },
];
---

<div class="space-y-6">
  <div class="flex flex-row items-center gap-4">
    <H2Typography>Experiencia de trabajo</H2Typography>
    <Separator />
  </div>

  <section id="pricing" class="space-y-6 scroll-mt-24">
    <ul>
      {
        experiences.map((experience) => (
          <li>
            <a
              aria-label={`Visitar ${experience.title}`}
              rel="noopener noreferrer"
              target="_blank"
              href={experience.href}
              class="py-4 group border-b border-b-white/20 flex items-center justify-between"
            >
              <div class="relative">
                <div class="size-2 absolute bg-brand rounded-full basis-2 opacity-0 transition-[translate_position] duration-400 group-hover:opacity-100 group-hover:left-0 top-1/2 -translate-y-1/2 -left-2 ease-out" />
                <div class="block transform group-hover:translate-x-4 transition-transform duration-600 ease-out">
                  <div class="flex flex-col gap-2">
                    <span class="text-lg text-balance text-white/90">
                      {experience.title}
                    </span>
                    <div class="flex gap-2 text-white/50 text-xs">
                      <span>{experience.startDate}</span> <span>•</span>{" "}
                      <span>{experience.finishDate}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="shrink-0 relative cursor-pointer p-2 rounded-full border size-10 border-white/20 transform group-hover:-rotate-45 transition-all">
                <ArrowRight class="absolute top-1/2 left-1/2 transform -translate-1/2" />
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</div>
